/*------------------------------------*\
    # Button
\*------------------------------------*/

// Button

.button {
    display: inline-block;
    border: none;
    outline: none;
    font-family: $font-family-sans-serif;
    font-size: $font-size-large;
    font-weight: $font-weight-thin;
    padding: $s-size;
    line-height: $line-height;
    text-decoration: none;
    background: $purple;
    color: $white;

    transition: $transition;

    &:hover,
    &:focus {
        background: darken( $purple, 5% );
    }
}

.button--link {
    background: none;
    padding: 0;
    color: $purple;

    &:hover,
    &:focus {
        background: none;
        text-decoration: underline;
    }
}


// Button Social 

.button--social {
    padding: $s-size;
    transition: $transition;

    &::before {
        position: relative;
        top: 4px;
        margin-right: $s-size;
    }
}

.button--google {
    background: $google-color;
    color: $off-white;

    &::before {
        content: url( '/images/google-plus.svg' );
    }

    &:hover,
    &:after {
        background: darken( $google-color, 5% );
    }
}