/*------------------------------------*\
    # Form
\*------------------------------------*/

.form {
    display: flex;
    flex-direction: column;

    >* {
        font-family: $font-family-sans-serif;
        margin-bottom: $m-size;
    }
}

.form__error {
    font-style: italic;
    margin: 0 0 $m-size 0;
}