.header {
    background: $dark-pink;
    border-bottom: 5px solid darken( $dark-pink, 10% );
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $m-size 0;
    line-height: normal;
}

.header__title {
    color: white;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    //text-shadow: $text-shadow;
    text-shadow: 1px 1px 1px #000;

    h1 {
        margin: 0;
    }
}