/*------------------------------------*\
    # Header
\*------------------------------------*/

.header {
    background: $purple;
    border-bottom: .5rem solid darken( $purple, 10% );
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $m-size 0;
}

.header__title {
    font-family: $font-family-cursive;
    letter-spacing: .2rem;
    text-shadow: $text-shadow;
    text-decoration: none;
    color: $white;

    h1 {
        margin: 0;
    }
}

.header__button {
    line-height: 2;
    color: $white;
}