/*------------------------------------*\
    # Inputs
\*------------------------------------*/

.text-input {
    appearance: none;
    outline: none;
    border-radius: 0;
    font-size: $font-size-large;
    font-weight: $font-weight-thin;
    padding: $s-size;
    height: 5rem;
    border: .1rem solid $off-purple;
    background: $white;
    color: $purple;

    &::placeholder {
        color: $purple;
    }
}

.select {
    @extend .text-input;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: $input-caret;
    padding-right: 1.2rem;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}