/*------------------------------------*\
    # Inputs
\*------------------------------------*/

.text-input {
    appearance: none;
    outline: none;
    border-radius: 0;
    font-size: $font-size-large;
    font-weight: $font-weight-thin;
    padding: $s-size;
    height: 50px;
    border: 1px solid #cacccd;
    background: $white;
    color: $grey;

}

.select {
    @extend .text-input;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: $input-caret;
    padding-right: 1.2em;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}