/*------------------------------------*\
    # Page
\*------------------------------------*/

.page {
    margin-bottom: $xl-size;
}

.page-header {
    margin-bottom: $l-size;
    padding: $l-size 0;
    background: fade-out( $purple, .9 );
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    font-weight: $font-weight-thin;
    margin: 0;

    span {
        font-weight: $font-weight-bold;
        color: $purple;
    }
}