/*------------------------------------*\
    # React Dates Overrides
\*------------------------------------*/

.DateInput__display-text--has-input {
    color: $purple;
}

.CalendarDay--hovered,
.CalendarDay--selected-span,
.CalendarDay--hovered-span,
.CalendarDay--hovered.CalendarDay--hovered-span,
.CalendarDay--after-hovered-start {
    background: $off-purple;
    border-color: $light-purple;
    color: $off-white;
}

.CalendarDay--selected,
.CalendarDay--selected-start,
.CalendarDay--selected-end,
.CalendarDay--selected-start:active,
.CalendarDay--selected-span:active, 
.CalendarDay--selected-span:hover,
.CalendarDay--selected-span:focus,
.CalendarDay--highlighted-calendar:active,
.DateInput__display-text--focused {
    background: $purple;
    color: $off-white;
    border-color: $light-purple;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
    border-right-color: $purple;

    &:hover {
        border-right-color: $off-purple;
    }
}

.DateInput__input {
    font-family: $font-family-sans-serif;
}

.SingleDatePickerInput,
.DateRangePickerInput {
    border-color: $off-purple;
}