// Fonts
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext' );
@import url('https://fonts.googleapis.com/css?family=Staatliches&subset=latin-ext');

// Colors
$dark-grey: #333;
$grey: #666;
$dark-pink: #875C74;
$light-pink: #fdeef3;
$blue: #A790A5;
$yellow: #FFFD98;
$off-white: #f7f7f7;
//$blue: #1c88bf;
//$dark-blue: #364051;

$google-color: #d34836;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Other
$box-shadow: 0 .3rem .6rem rgba( 0, 0, 0, 0.16 ), 0 .3rem .6rem rgba( 0, 0, 0, 0.23 );
$transition: all 200ms ease-in-out;
$text-shadow: .1rem .1rem .1rem #000, .3rem .3rem .5rem #000;